<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAck</title>
</head>
<body>
    <form method="POST">
        <input type="text" placeholder="state" name="state" />
        <input type="text" placeholder="district" name="district" />
        <input type="text" placeholder="season" name="season"  />
        <input type="submit" value="submit"/>
    </form>
</body>
</html>